.gallery_wrapper h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}

.gallery_wrapper .para {
    color: whitesmoke;
    text-align: center;
}

.gallery_cards {
    column-count: 3;
}

.gallery_cards .gallery_card {
    width: 100%;
    margin-bottom: 0.6rem;

    overflow: hidden;
    position: relative;
}

.gallery_cards .gallery_card .gallery_content {
    position: absolute;

    bottom: -50%;
    left: 0;
    background-color: rgb(65, 65, 65);
    width: 100%;
    padding: 12px;
    color: whitesmoke;

    transition: .6s;
}

.gallery_cards .gallery_card::after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(70, 70, 70, 0.705);
    
    transition: .6s;
}

.gallery_cards .gallery_card:hover:after {
    bottom: 0;
}

.gallery_cards .gallery_card:hover .gallery_content {
    bottom: 0;
}

.gallery_cards .gallery_card .gallery_content h3 {
    color: var(--primary-color);
}

.gallery_cards .gallery_card img{
    width: 100%;
    /* margin-bottom: 0.6rem; */

    /* margin-top: 0.8rem; */
}

@media screen and (max-width:1200px) {
    .gallery_cards {
        column-count: 2;
    }
}
@media screen and (max-width:900px) {
    .gallery_cards {
        column-count: 1;
        /* width: 100%; */
        /* height: 500px; */
    }

    .gallery_card {
        /* margin-bottom: 25px; */
    }

    .gallery_cards .gallery_card img {
        height: 550px !important;
        object-fit: cover;
    }
}

