/* google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: 'oswald';

  scroll-behavior: smooth;
}

:root {
  --text-color: rgba(255, 255, 255, 1);
  --primary-color: #ffc006;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 80px 12%;
  border-bottom: 0.5px solid rgb(83, 83, 83);
}

body {
  background-color: rgb(27, 27, 27);
}

button {
  height: 40px;
  width: 100px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
}

button::after {
  content: '';
  position: absolute;
  top: -20%;
  left: -30%;
  height: 150%;
  width: 12px;
  background-color: #fff;
  transition: 0.8s;
  transform: rotate(30deg);
}

button:hover::after {
  left: 200%;
}